@font-face { font-family: 'Gotham'; src: url('../fonts/gothambold-webfont.woff2') format('woff2'), url('../fonts/gothambold-webfont.woff') format('woff'); font-weight: 700; font-style: normal;}
@font-face { font-family: 'Gotham'; src: url('../fonts/gothambook-webfont.woff2') format('woff2'), url('../fonts/gothambook-webfont.woff') format('woff'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url('../fonts/gothambookitalic-webfont.woff2') format('woff2'), url('../fonts/gothambookitalic-webfont.woff') format('woff'); font-weight: 500; font-style: italic;}
@font-face { font-family: 'Gotham'; src: url('../fonts/gothammedium-webfont.woff2') format('woff2'), url('../fonts/gothammedium-webfont.woff') format('woff'); font-weight: 600; font-style: normal; }

/* Comon Css */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-bottom: .5rem; font-family:'Gotham', Arial, Helvetica, sans-serif; font-weight: 700; line-height: 1.2;}

.bg-grey { background-color:#f2f2f2; }
.bg-yellow { background-color:#fada38; }
.bg-white { background-color: #fff; }
.bg-blue { background-color: #eef7fd; }
.bg-green { background-color: #9cce17; }

.btn {border-radius: 0; }
.btn-anim {  color: rgba(255,255,255,1); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; position: relative; border: 1px solid rgba(255,255,255,0.5); overflow: hidden; } 
.btn-anim a{ color: rgba(51,51,51,1); text-decoration: none; display: block; }
.btn-anim::before, .btn-anim::after{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background-color: rgba(255,255,255,0.25); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; -webkit-transform: translate(-100%,0); transform: translate(-100%,0); -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
.btn-anim::after{ -webkit-transition-delay: 0.2s; /* Safari */ transition-delay: 0.2s; }
.btn-anim:hover::before, .btn-anim:hover::after{ -webkit-transform: translate(0,0); transform: translate(0,0);}
.main-tl { font-size: 2.667em; text-align: center; font-weight:700; position: relative; padding: 0 0 20px; margin: 0 0 20px;}
.main-tl:before { content: ''; width: 61px; height: 13px; background: url(../images/common/yellow-underline.png) no-repeat left top; position: absolute; left:calc(50% - 2em); bottom: 0; }
.main-tl.blue { color: #008fd5; }
.main-tl.blue:before { background-image: url(../images/common/green-underline.png); }
.sub-tl { font-size: 2em; font-weight: 600; }
.align-center { text-align: center; }
/* Comon Css */


/* Laytout */
body { font-family:'Gotham', Arial, Helvetica, sans-serif; font-weight: 500; }

/* Starts :: Header */
header { }
header .nav-scroller { height: auto; }
header .nav-scroller .nav { padding: 6px 0; margin: 0; }
header .nav-scroller .nav > a { padding: 14px 28px; margin: 0 1em;text-decoration: none; font-size: 1.2em; color: #000000; font-weight: 600; text-transform: uppercase;}
header .nav-scroller .nav > a:hover { background: #ddd; }
header .nav-scroller .nav > a:first-child { margin-left: 0;}
header .nav-scroller .nav > a:last-child { margin-right: 0;}
header .header-rt > .rt-sec {  }
header .header-rt > .rt-sec + .rt-sec  { margin-left: ; }
header .header-rt > .rt-sec > .txt-Cont { text-transform: uppercase; }
header .header-rt > .rt-sec > .txt-Cont > b { font-size: 0.93em; color: #2d3092; font-weight: 700; }
header .header-rt > .rt-sec > .txt-Cont > .txt > p { margin:0; font-size: 1em; color: #008fd5; font-weight: 600;}

.social-links { display: inline-block; list-style: none; padding: 0; margin: 0; }
.social-links > li { display: inline-block; padding: 0; margin: 0; }
.social-links > li > a { display: inline-block; width: 20px; height: 20px; text-align: center; }
.social-links > li + li { margin-left: 12px; }

.btn-admission { background: #ffde39; font-weight: 600; text-transform: uppercase; width: 180px; white-space: normal;}
.btn-admission > b { font-size:1.6em; font-weight: 600; display: block; }
.btn-admission > span { font-size:1.2em;  }
/* Ends :: Header */

/* Starts :: Banner */
.banner { padding: 70px 0; }
.banner-txt {  }
.banner-txt > p > b { font-size: 2.667em; font-weight: 700; text-transform: uppercase;}
.banner-txt > p > b > span { font-weight: 600; display: inline-block;}
.banner-txt > p > b.spl-txt { font-size: 4.000em; display: inline-block }
.banner-img { /*width: 710px; height:638px;*/ width: 70vw; height:40vw; position: relative;}
.banner-img:before { content: ''; position: absolute; left:0; top: 0; width:100%; height:100%; background: url(../images/home/banner-img-overlay.png) no-repeat left top; background-size: contain; }
.banner-img img { object-fit: cover; max-width: 100%; }
/* Ends :: Banner */

/* Main-Content */
.section { padding: 2.667em 0; }

.card.trans-box { border: 0; border-radius: 0; background: none; padding: 0; text-align: center; }
.card.trans-box .card-img-top {  }
.card.trans-box .card-img-top > img { max-width: 107px; margin:0 auto; }
.card.trans-box .card-body { padding: 0; }
.card.trans-box .card-body > h3 { font-size: 1.6em; font-weight: 600; margin-bottom: 2.667em; text-transform: uppercase;}
.card.trans-box .card-body .card-text {  }
.card.trans-box .card-body .card-text > p { font-size: 1.6em; font-weight: 500; font-style: italic; }

.card.thumn-desc { height: calc(100% - 2.667em); margin: 20px 0;  }
.card.thumn-desc .card-img-top { width: 100%; margin: 0; position: relative; }
.card.thumn-desc .card-img-top > img { width: 100%; height: auto; object-fit: cover; max-height: 220px; }
.card.thumn-desc.large .card-img-top > img { max-height: 320px;;}
.card.thumn-desc .card-img-top figcaption { position: absolute; left:3.333em; bottom:calc(0% - 2em); color: #ffffff; font-size: 1.33em; font-weight: 600; text-transform: uppercase; padding: 1em 25px 1em 2.667em; }
.card.thumn-desc .card-body { padding: 3.333em 3.333em 2.667em; }
.card.thumn-desc .card-body h3 { font-size: 1.33em; line-height: 1.5em; text-transform: uppercase; margin: 0; font-weight: 600; }
.card.thumn-desc .card-body p { font-size: 1.33em; line-height: 1.5em;  }
.card.thumn-desc .card-body h3 + p { margin-top: 35px; }

.map-container {  }
.map-container > img { object-fit: cover; max-width: 100%; }
/* Main-Content */
 
/* Starts :: Footer */
.top-sec { padding: 80px 0; color: #000000;}
.top-sec h2{ font-size: 1.667em; font-weight: 600; color: #000000; margin:0; padding: 0;  text-transform: uppercase; white-space: nowrap; margin-bottom: 20px; }
.footer-nav { list-style: none; padding: 0; margin: 0; }
.footer-nav > li { margin-bottom: 6px; }
.footer-nav > li > a { font-size: 1.333em; color: #000; }
.copy-sec { text-align: center; padding: 32px 0;}
.copy-sec p { font-size: 1.333em; font-weight: 600; }
.copy-sec p:last-child { margin: 0; }
/* Ends :: Footer */

.btn-admission { position: absolute; right: 0; top: 0;; }

/* stylelint-disable selector-list-comma-newline-after */
.blog-header { line-height:1; border-bottom:1pxsolid#e5e5e5; }  
.blog-header-logo { }  
.blog-header-logo:hover { text-decoration:none;  }
.display-4 { font-size:2.5rem;  }
@media (min-width:768px) {
.display-4 { font-size:3rem; }  
}  
.nav-scroller { position:relative; z-index:2; height:2.75rem; overflow-y:hidden;  }
.nav-scroller .nav { display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:nowrap; flex-wrap:nowrap; padding-bottom:1rem; margin-top:-1px; overflow-x:auto; text-align:center; white-space:nowrap; -webkit-overflow-scrolling:touch;  }  
.nav-scroller .nav-link { padding-top:.75rem; padding-bottom:.75rem; font-size:.875rem;  }  
.card-img-right { height:100%; border-radius:0 3px 3px 0;  }
.flex-auto { -ms-flex:0 0 auto; -webkit-box-flex:0; flex:0 0 auto;  }  
.h-250 { height:250px; }
@media (min-width:768px) {
.h-md-250 { height:250px; }
}

.border-top { border-top:1px solid #e5e5e5; }
.border-bottom { border-bottom:1px solid #e5e5e5; }
.box-shadow { box-shadow:0 .25rem .75rem rgba(0, 0, 0, .05); }

/* Blog name and description   */
.blog-title { margin-bottom:0; font-size:2rem; font-weight:400;  }
.blog-description { font-size:1.1rem; color:#999;  }  
@media (min-width:40em) {
.blog-title {   font-size:3.5rem; }
}

/* Pagination */
.blog-pagination { margin-bottom:4rem;  }
.blog-pagination > .btn { border-radius:2rem;  }  

/** Blog posts   */
.blog-post { margin-bottom:4rem;  }
.blog-post-title { margin-bottom:.25rem; font-size:2.5rem;  }
.blog-post-meta { margin-bottom:1.25rem; color:#999;  }  

/** Footer   */
.blog-footer { padding:2.5rem 0; color:#999; text-align:center; background-color:#f9f9f9; border-top:.05rem solid #e5e5e5;  }
.blog-footer p:last-child { margin-bottom:0;  }